<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="layout">
      
    <head>
        <title>Home</title>
    </head>
    
    <body>
    	<div layout:fragment="content">
    		<div id="demo" class="carousel slide" data-ride="carousel">
      
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img th:src="@{/resources/images/slide1.png}" alt="slide1" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img th:src="@{/resources/images/slide2.png}" alt="silde2" class="img-fluid">
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

      <!--San pham sale-->
      <div class="products container">
        <div class="row banner">
            <h5><a class="nav-link" href="#">SALE</a></h5>   
        </div>
        
        <div class="row">
        	<th:block th:each="product : ${onSales}">
				<div class="col-md-3 col-sm-6">
	                <div class="product-grid">
	                    <div class="product-image">
	                        <a href="#">
	                            <img class="pic-1" th:src="@{${'/resources/images/products/' + product.id + '.png'}}">
	                        </a>
	                    </div>
	                    <div class="product-content">
	                        <h3 class="title"><a href="#" th:text="${product.name}"></a></h3>
	                        <div class="price" >
	                        	<p th:text="${product.onSalePrice}" th:remove="tag">11.000.000 VND</p>
	                            <span th:text="${product.price}">11.500.000 VND</span>
	                        </div>
	                    </div>
	                    <ul class="social">
	                        <li><a th:href="@{/products/{id}(id=${product.id})}" data-tip="Quick View" ><i class="fa fa-search"></i></a></li>
	                        <li><a th:href="@{/products/{id}(id=${product.id})}" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
	                    </ul>
	                    
	                </div>
	            </div>
  			 </th:block>
        </div>
      </div>

      <!--San pham ban chay-->
      <div class="products container">
        <div class="row banner">
            <h5><a class="nav-link" href="#">BÁN CHẠY</a></h5>   
        </div>
        
        <div class="row">
            <th:block th:each="product : ${hotSales}">
				<div class="col-md-3 col-sm-6">
	                <div class="product-grid">
	                    <div class="product-image">
	                        <a href="#">
	                            <img class="pic-1" th:src="@{${'/resources/images/products/' + product.id + '.png'}}">
	                        </a>
	                    </div>
	                    <div class="product-content">
	                        <h3 class="title"><a href="#" th:text="${product.name}"></a></h3>
	                        <div class="price" >
	                        	<p th:text="${product.onSalePrice}" th:remove="tag">11.000.000 VND</p>
	                            <span th:text="${product.price}">11.500.000 VND</span>
	                        </div>
	                    </div>
	                    <ul class="social">
	                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
	                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
	                    </ul>
	                </div>
	            </div>
  			 </th:block>
        </div>
      </div>
      
      <!--Banner tu lanh-->
      <div class="container">
          <div class="row">
            <a href="#"><img src="../images/ref-long.jpg" class="img-fluid"></a>
          </div>
      </div>
      
      <!--Tu lanh-->
      <div class="products container">
        <div class="row banner">
            <h5><a class="nav-link" href="#">TỦ LẠNH</a></h5>   
        </div>
        
        <div class="row">
            <th:block th:each="product : ${refris}">
				<div class="col-md-3 col-sm-6">
	                <div class="product-grid">
	                    <div class="product-image">
	                        <a href="#">
	                            <img class="pic-1" th:src="@{${'/resources/images/products/' + product.id + '.png'}}">
	                        </a>
	                    </div>
	                    <div class="product-content">
	                        <h3 class="title"><a href="#" th:text="${product.name}"></a></h3>
	                        <div class="price" >
	                        	<p th:text="${product.onSalePrice}" th:remove="tag">11.000.000 VND</p>
	                            <span th:text="${product.price}">11.500.000 VND</span>
	                        </div>
	                    </div>
	                    <ul class="social">
	                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
	                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
	                    </ul>
	                </div>
	            </div>
  			 </th:block>
        </div>
      </div>

      <!--Banner may dieu hoa-->
      <div class="container">
        <div class="row">
          <a href="#"><img src="../images/aircon2.jpg" class="img-fluid"></a>
        </div>
    </div>
    
    <!--may dieu hoa-->
    <div class="products container">
      <div class="row banner">
          <h5><a class="nav-link" href="#">MÁY ĐIỀU HÒA</a></h5>   
      </div>
      
      <div class="row">
         <th:block th:each="product : ${airs}">
				<div class="col-md-3 col-sm-6">
	                <div class="product-grid">
	                    <div class="product-image">
	                        <a href="#">
	                            <img class="pic-1" th:src="@{${'/resources/images/products/' + product.id + '.png'}}">
	                        </a>
	                    </div>
	                    <div class="product-content">
	                        <h3 class="title"><a href="#" th:text="${product.name}"></a></h3>
	                        <div class="price" >
	                        	<p th:text="${product.onSalePrice}" th:remove="tag">11.000.000 VND</p>
	                            <span th:text="${product.price}">11.500.000 VND</span>
	                        </div>
	                    </div>
	                    <ul class="social">
	                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
	                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
	                    </ul>
	                </div>
	            </div>
  			</th:block>
      </div>
    </div>
    <!--video-->
    <div class="container">
        <div class="row">
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="../videos/ad.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <!--About-->
    <div class="container about">
        <p class="title">__ EASY __</p><br>
        <p>Hãy làm cuộc sống gia đình bạn trở nên<br> đơn giản hơn cùng với chúng tôi</p>
        <a class="btn btn-class mt-3 mb-5" href="#">Tìm hiểu thêm</a>
    </div>
    	</div>
		<!-- <p sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></p>
	         <p><a th:href="@{/home}">User Home</a></p>
		     <p><a th:href="@{/admin/home}">Admin Home</a></p>
		     <p><a th:href="@{/home}">User Home</a></p>
		     <p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>
    	</div> -->
    </body>
    
 <script type="text/javascript">
	 $(document).ready(function(){
		 alert("Hello! I am an alert box!!");
	 })
</script>
</html>