/*Mau menu*/
.navbar {
    background-color: black !important;
}

/*Mau chu  menu*/
.navbar li a {
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
    transition:all .5s ease 0s;
}

/*Mau chu menu hover*/
.navbar li a:hover {
    color: orange !important;
}

/*Hien dropdown menu*/
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

/*Mau chu dropdown menu*/
.dropdown-menu li a{
    color: black !important;
}

body{
    background-color: #F8F8F8;
}

/*Footer*/    
footer p{
    color: black;
}
.site-footer{
  background-color: white;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:black;
 
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:orange;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:orange;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
}

/*danh sach san pham*/
.products{
    background-color:white;
    margin-top: 1%;
    margin-bottom: 1%;

}
.banner{
    background-color:black;
    
}
.banner a{
    color: white;
    transition:all .5s ease 0s;
}
.banner a:hover{
    color: orange;
    text-shadow:0 0 10px orange;
}
.product-grid,.product-grid .product-image{
    overflow:hidden;
}
.product-grid{
    text-align:center;
    position:relative;
    transition:all .5s ease 0s;
}
.product-grid:hover{
    box-shadow:0 0 10px rgba(0,0,0,.3);
}
.product-grid .product-image a{
    display:block;
}
.product-grid .product-image img{
    width:100%;
    height:auto;
    transition:all .5s ease 0s;
}
.product-grid:hover .product-image img{
    transform:scale(1.1);
}
.product-grid .product-content{
    padding:12px 12px 15px;
    transition:all .5s ease 0s;
}
.product-grid:hover .product-content{
    opacity:0;
}
.product-grid .title{
    font-size:20px;
    font-weight:600;
    text-transform:capitalize;
    margin:0 0 10px;
    transition:all .3s ease 0s;
}
.product-grid .title a{
    color:#000;
}
.product-grid .title a:hover{
    color:#2e86de;
}
.product-grid .price{
    font-size:18px;
    font-weight:600;
    color:#2e86de;
}
.product-grid .price span{
    color:#999;
    font-size:15px;
    font-weight:400;
    text-decoration:line-through;
    margin-left:7px;
    display:inline-block;
}
.product-grid .social{
    background-color:#fff;
    width:100%;
    padding:0;
    margin:0;
    list-style:none;
    opacity:0;
    transform:translateX(-50%);
    position:absolute;
    bottom:-50%;
    left:50%;
    z-index:1;
    transition:all .5s ease 0s;
}
.product-grid:hover .social{
    opacity:1;
    bottom:20px
}
.product-grid .social li{
    display:inline-block;
}
.product-grid .social li a{
    color:#909090;
    font-size:16px;
    line-height:45px;
    text-align:center;
    height:45px;
    width:45px;
    margin:0 7px;
    border:1px solid #909090;
    border-radius:50px;
    display:block;
    position:relative;
    transition:all .3s ease-in-out;
}
.product-grid .social li a:hover{
    color:#fff;
    background-color:black;
    width:80px;
}
.product-grid .social li a:after,.product-grid .social li a:before{
    content:attr(data-tip);
    color:#fff;
    background-color:black;
    font-size:12px;
    letter-spacing:1px;
    line-height:20px;
    padding:1px 5px;
    border-radius:5px;
    white-space:nowrap;
    opacity:0;
    transform:translateX(-50%);
    position:absolute;
    left:50%;
    top:-30px;
}
.product-grid .social li a:after{
    content:'';
    height:15px;
    width:15px;
    border-radius:0;
    transform:translateX(-50%) rotate(45deg);
    top:-20px;
    z-index:-1;}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{
    opacity:1;
}

/*Video*/
video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

/*About*/
.about{
    background-color: black;
    text-align: center;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    padding-top: 3%;
}
.about .title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 400;
}
.about .btn-class{
    border-color: white;
    color: black;
    background-color: white;
}
.about .btn-class:hover{
    background-color: black;
    color: white;
}


