
.error-message{
	color:red;
}
/*Mau menu*/
.navbar {
    background-color: black !important;
}

/*Mau chu  menu*/
.navbar li a {
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
    transition:all .5s ease 0s;
}

/*Mau chu menu hover*/
.navbar li a:hover {
    color: orange !important;
}

/*Hien dropdown menu*/
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

/*Mau chu dropdown menu*/
.dropdown-menu li a{
    color: black !important;
}

/*Form*/
body{
    background-color: #F8F8F8;
}
.container .content{
    margin: 8%;
    background-color: white;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);
}
.container .signin-text{
    font-style: normal;
    font-weight: 600 !important;
}
.container .form-control{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: black !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color: black;
    height: auto;
    border-radius: 0;
    background-color: white;
    background-clip: padding-box;
}
.container .form-control:focus{
    color: black;
    background-color: white;
    border-color: white;
    outline: 0;
    box-shadow: none;
}
.container .btn-class{
    border-color: black;
    color: black;
    background-color: white;
}
.container .btn-class:hover{
    background-color: black;
    color: white;
}

/*Footer*/    
footer p{
    color: black;
}
.site-footer{
  background-color: white;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:black;
 
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:orange;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:orange;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
}