/*Links*/
.links {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.links nav{
  padding: 10px;
  color: gray;
}
.links nav a{
  color: gray;
  transition:all .5s ease 0s;
}
.links nav a:hover{
  color: #5ea4f3;
  text-decoration: none;
  text-shadow:0px 0px 0.7px blue;
}